.chart-controls {
    margin: 25px 0 0 15px;
}

.segment-options {
    display: none;
}

.segment-box {
    display: none;
}
ul.segment-box {
    list-style-type: none;
    margin-left: 15px;
}

.slider {
    margin-top: 15px;
}

.step-report .chart {
    width: 800px;
    margin: 20px auto;
}

.step-report .legend {
    float: right;
    width: 300px;
    padding: 10px;
    border: 1px solid #000;
}

.step-report path {
    stroke-width: 3px;
    fill: none;
}
.step-report .tick line {
    stroke-width: 1px;
    stroke: #999;
}
.step-report .tick text {
    fill: #000;
    font-size: 10px;
}
.step-report .x-tick text {
    transform: 'rotate(90, 0, 0)';
}
#signin { width: 95px; height: 25px; }
.slider { width: 400px; margin: -5px 0 30px }